body {
    font-family: 'Roboto mono';
    background-color: gray;
    text-align: center;
}

h1 {
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin: -5px;
}

#bdiv {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5vw;
    margin-right: 5vw;
}

#button {
    font-family: 'Roboto mono';
    text-align: center;
    background-color: rgb(159, 168, 156);
    border: solid black 1px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin:0px;
}
#bdiv :hover{
    background-color: rgb(133, 151, 127);
}

#map {
    height: 60vh;
    width: 100%;
}

#result{
    width:25%;
    border: solid 1px black;
    background-color: rgb(118, 117, 117);
}

#cbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}

#form {
    justify-content: center;
    padding-left:10px;
    padding-right:10px;
}


#dates{
    margin:0px;
    width:50%;
    border-right: solid black 1px;
    padding:10px;
}

#formdiv{
    align-items: center;
    border: solid black 1px;
    padding-bottom:0px;
    background-color: rgb(118, 117, 117);
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align:center
}

input:focus {
    outline: none;
    border-bottom: 1px solid white;
  }

#year{
    margin-bottom:10px;
}


#button:active {
    position: relative;
    top: 1px;
}